body {
    background-color: lightgray;
    text-align: center;
}

div {
    text-align: center;
    border: 1px solid;
}

.main {
    display: flex;
    justify-content: center;
    color: aquamarine;
}

.title {
    flex: auto;
    color: blue;
}